<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Form</title>
</head>
<body>
    <p>Fill the form. Asterisk (*) means required</p>
    <form action="/processForm" method="get">
        <label>First Name: </label>
        <input type="text" name="firstName" placeholder="What's your first name?">
        <br>
        <label>Last Name (*): </label>
        <input type="text" name="lastName" placeholder="What's your last name?">
        <small th:if="${error}" style="color: red;">is required</small>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>